@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Hey October';
  src: url('/public/fonts/hey_october.ttf');
 }
 
 
@layer base {
  /* :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  } */
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}





@layer base {

 :root {
   --background: 200 20% 98%;
   --btn-background: 200 10% 91%;
   --btn-background-hover: 200 10% 89%;
   --foreground: 200 50% 3%;
   --border: 20 5.9% 90%;
   --input: 20 5.9% 90%;
   --ring: 20 14.3% 4.1%;
   --radius: 0.5rem;
   --swiper-theme-color: #DEB738;
 }


 @media (prefers-color-scheme: dark) {
   :root {
     --background: 200 50% 3%;
     --btn-background: 200 10% 9%;
     --btn-background-hover: 200 10% 12%;
     --foreground: 200 20% 96%;
     --border: 20 5.9% 90%;
     --input: 20 5.9% 90%;
     --ring: 20 14.3% 4.1%;
     --radius: 0.5rem;
     --swiper-theme-color: #DEB738;
   }
 }
}


@layer base {
 * {
   @apply border-foreground/20;
 }
}


html, body {
 padding: 0;
 margin: 0;
 font-family: Hey October !important;
}


html::before, body::before {
 content: '';
 content: "";
 width: 100%;
 height: 100vh;
 position: fixed;
 left: 0;
 top: 0;
 z-index: -1;
 background-position: 50% 50%;
 background-repeat: no-repeat;
 background-size: cover;
}
a {
 color: inherit;
 text-decoration: none;
}
* {
 box-sizing: border-box;
}


.swiper {
 width: 240px;
 height: 320px;
}
.swipers {
  width: 100%;
  height: 100%;
}


.swiper-slide {
 display: flex;
 align-items: center;
 justify-content: center;
 border-radius: 18px;
 font-size: 22px;
 font-weight: bold;
 color: #fff;
}


.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}


.contacts{
 /* background: linear-gradient(90deg, #DEB738 0%, #d3d5d9 100%); */
 background: linear-gradient(90deg, #DEB738 0%, #62592d 100%);
 /* background: linear-gradient(90deg, #DEB738 0%, #62592d 100%); */
 /* background: linear-gradient(90deg, #DEB738 0%, #36434b 100%); */
 /* background: radial-gradient(circle at top, #DEB738 , #af3b19); */
 /* background: linear-gradient(90deg, #DEB738 0%, #af3b19 100%); */
 /* background: linear-gradient(90deg, #DEB738 0%, #f0b9f7 100%) */
 /* background: linear-gradient(225deg, #DEB738 0%, #f0b9f7 100%)'' */
 /* background: linear-gradient(225deg, #DEB738 0%, #d3d5d9 100%) */
 /* background: linear-gradient(135deg, #DEB738 0%, #d3d5d9 100%) */
}


.x-sign {
 --interval: 1s;
 display: block;
 color: #00ff59;
 text-shadow:
   0 0 10px #00ff59,
   0 0 20px #275827,
   0 0 40px #008000,
   0 0 80px #000000;
 will-change: filter, color;
 filter: saturate(60%);
 font-family: 'Monoton', cursive;
}


.animate-in {
 animation: animateIn 0.3s ease 0.15s both;
}


@keyframes animateIn {
 from {
   opacity: 0;
   transform: translateY(10px);
 }
 to {
   opacity: 1;
   transform: translateY(0);
 }
}
